.modal-container {
  position: relative;
  z-index: 10;
}

.modal-box {
  position: fixed;
  background-color: rgb(107 114 128);
  inset: 0px;
  --tw-bg-opacity: 0.75;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  
}
